{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="car-models">
    <div class="wrapper">
      <div class="card">
        <p><b>Changing Steering Wheel</b></p>
        <img src="{% static 'images/shutterstock_1245263293-1024x678-1.jpg' %}" alt="" />
        <div id="container">
          <a href="./detail.html" id="button">Detail</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card">
        <p><b>Car Tunning</b></p>
        <img src="{% static 'images/HD-wallpaper-golf-7-r-cars-golf7-gti-mk7-sport-tunning-vw.jpg' %}" alt="" />
        <div id="container">
          <a href="./detail.html" id="button">Detail</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card">
        <p><b>Cleaning</b></p>
        <img src="{% static 'images/Header-960x480.jpg' %}" alt="" />
        <div id="container">
          <a href="./detail.html" id="button">Detail</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card">
        <p><b>Car Tunning</b></p>
        <img src="{% static 'images/HD-wallpaper-golf-7-r-cars-golf7-gti-mk7-sport-tunning-vw.jpg' %}" alt="" />
        <div id="container">
          <a href="./detail.html" id="button">Detail</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}