{% extends 'base.html'%}
{% load static %}

{% block content %}



<section class="search-section">
    <div class="input-wrapper">
      <form action="">
        <div class="input-area">
          <input type="text" name="search" placeholder="Search..." />
        </div>
        <div class="title"><label for="cars">Choose a Brand:</label></div>
        <div>
          <select name="brand" id="cars">
            <option value="">---</option>
            {% if car_brands %}
              {% for car_brand in car_brands %}
                <option value="{{ car_brand.brand_name }}">{{ car_brand.brand_name }}</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>
        <div class="title"><Button>search</Button></div>
      </form>
    </div>
  </section>
  <section class="car-models">
      {% for object in object_list %}
    <div class="wrapper">
      <div class="card">
        <p><b>Name {{ object.detail_name }}</b></p>
        <img src="{{ object.photo.url }}" alt="" />
        <div id="container">
          <p>Price {{ object.price }}</p>
          <a href="{% url 'detail-detail' object.pk %}" id="button">Detail</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </section>
<section class="pagination-section">
    <div id="wrapper-area">
      <div class="b-pagination-outer">
        <ul id="border-pagination">
          <li><a class="" href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}