{% extends 'base.html' %}

{% load static %}

{% block content %}

 <section class="about-cars">
        <div class="car-photo">
            <img src="{{ object.photo.url }}" alt="car">
            <div><a href="{% url 'car-details' %}"><button><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to
                        details</button></a>
            </div>
        </div>
        <div class="about-car">
            <div class="car-mil">
                <p class="title">Detail Name :</p>
                <p class="desc">{{ object.detail_name }}</p>
            </div>
            <div class="car-mil">
                <p class="title">Type of Detail :</p>
                <p class="desc">{{ object.detail_type }}</p>
            </div>
            <div class="car-mil">
                <p class="title">Brand :</p>
                <p class="desc">{{ object.brand }}</p>
            </div>
            <div class="car-mil">
                <p class="title">Price :</p>
                <p class="desc">{{ object.price }}</p>
            </div>
            <div class="car-mil">
                <p class="title">Text :</p>
                <p class="desc">{{ object.description }}</p>
            </div>
            {% if object.count %}
            <div class="car-mil">
                <p class="title">Count :</p>
                <p class="desc">{{ object.count }}</p>
            </div>
            {% endif %}
            <div class="car-mil">
                <button>BUY</button>
            </div>
        </div>
        </div>
    </section>


{% endblock %}