{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% if title %} {{ title }} {% else %} YUARTMOTORS {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
</head>

<body>
<header>
    <nav>
        <ul>
            <div class="simple">
                <li class="logo_area">
                    <img src="{% static 'images/logo-fococlipping-standard.png' %}" alt=""/>
                    <p class="title">YU</p>
                    <p class="desc"><b>-ARTMOTORS</b></p>
                </li>
            </div>
            <div class="navigation">
                <div class="about menu-list">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'car-list' %}">Cars</a>
                    </li>
                    <li>
                        <a href="{% url 'services' %}">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'car-details' %}">Details</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li onclick="handleLanguagesDropdownOpen()">
              <div class="dropdown">
                <button><i class="fa fa-globe fa-lg" aria-hidden="true"></i></button>
                <div class="options">
                  <div><img src="./flags/am-flag.jpg" alt="ARM"></div>
                  <div><img src="./flags/Flag_of_Russia.png" alt="RUS"></div>
                  <div><img src="./flags/2560px-Flag_of_the_United_States.svg.png" alt="USE"></div>
                </div>
            </div>
            </li>
                </div>
                <div class="hamburger-logo" onclick="headerOpenHandler()">
                    <div class="menu-icon">
                        <span></span>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
</header>

{% block content %}

{% endblock %}

<footer>
    <div class="footer-wrapper">
        <h1>Information</h1>
        <div class="info-area">
            <p>Location Armenia jrvej some/address.</p>
            <p>
                <a href="#"><img src="{% static 'images/phone.png' %}" alt=""/>+37499583030.</a>
            </p>
            <p>
                <a href="#"><img src="{% static 'images/viber-logo.png' %}" alt=""/>+37499583030.</a>
            </p>
            <p>
                <a href="#"><img src="{% static 'images/whatsapp.png' %}" alt=""/>+37499583030.</a>
            </p>
        </div>
    </div>
    <div class="footer-wrapper">
        <h1>Information</h1>
        <div class="info-area">
            <p>Location Armenia jrvej some/address.</p>
            <p>
                <a href="#"><img src="{% static 'images/phone.png' %}" alt=""/>+37499583030.</a>
            </p>
            <p>
                <a href="#"><img src="{% static 'images/viber-logo.png' %}" alt=""/>+37499583030.</a>
            </p>
            <p>
                <a href="#"><img src="{% static 'images/whatsapp.png' %}" alt=""/>+37499583030.</a>
            </p>
        </div>
    </div>
    <div>
        <img src="{% static 'images/logo-fococlipping-standard.png' %}" alt=""/>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>