{% load static %}
<!DOCTYPE HTML>
{% load static %}

<head>
<title>{% if title %}{{ title }} {% else %}YUARTMOTORS{% endif %}</title>
<meta charset="utf-8">
<!-- Google Fonts -->
<!--<link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>-->
<!-- CSS Files -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'menu/css/simple_menu.css' %}">
<!-- Contact Form -->
<link href="contact-form/css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="{% static 'contact-form/css/uniform.css' %}" media="screen" rel="stylesheet" type="text/css">
<!-- JS Files -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
<script src="{% static 'js/jquery.tools.min.js'%}"></script>
<script>
$(function () {
    $("#prod_nav ul").tabs("#panes > div", {
        effect: 'fade',
        fadeOutSpeed: 400
    });
});
</script>
<script>
$(document).ready(function () {
    $(".pane-list li").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
});
</script>
</head>
<body>
<div class="header">
  <div id="site_title"><a href="index.html"><img src="img/logo.png" alt=""></a></div>
  <!-- Main Menu -->
  <ol id="menu">
    <li class="active_menu_item"><a href="{% url 'home' %}">Home</a>
      <!-- sub menu -->

    </li>
    <!-- END sub menu -->
    <li><a href="#">Cars</a>
      <!-- sub menu -->
      <ol>
        <li><a href="{% url 'car-list' %}">All Cars</a></li>
        <li><a href="blog.html">Mercedes</a></li>
        <li><a href="full-width.html">BMV</a></li>
        <li><a href="columns.html">Suzuki</a></li>
      </ol>
    </li>
    <!-- END sub menu -->
    <li><a href="{% url 'car-details' %}">Car Details</a></li>
    <li><a href="#">Galleries</a>
      <!-- sub menu -->
      <ol>
        <li><a href="gallery-simple.html">Simple</a></li>
        <li><a href="portfolio.html">Filterable</a></li>
        <li><a href="gallery-fader.html">Fade Scroll</a></li>
        <li><a href="video.html">Video</a></li>
        <li class="last"><a href="photogrid.html">PhotoGrid</a></li>
      </ol>
    </li>
    <!-- END sub menu -->
    <li><a href="contact.html">Contact</a></li>
  </ol>
</div>
{% block content %}

<!-- END header -->
<div id="container">
  <!-- tab panes -->
  <div id="prod_wrapper">
    <div id="panes">
      <div> <img src="{% static 'img/demo/1.jpg' %}" alt="">
        <h2>Car Selling</h2>
        <p>We are currently working on different type of machine sector.We can offer you most different type of cars especialy from Japan.</p>
        <p style="text-align:right; margin-right: 16px"><a href="{% url 'car-list' %}" class="button">More Info</a></p>
      </div>
      <div> <img src="{% static 'img/demo/2.jpg' %}" alt="">
        <h2>Car Details</h2>
        <p>We have most wild car details in Armenia includings brands like Mercedes, BMV, Audi, Mitsubishi etc.</p>
        <p style="text-align:right; margin-right: 16px"><a href="{% url 'car-details'%}" class="button">More Info</a> </p>
      </div>
      <div> <img src="{% static 'img/demo/3.jpg' %}" alt="">
        <h2>Car Cleaning</h2>
        <p>We all sort of cleaning technologies to give you almost new car. </p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> </p>
      </div>
      <div> <img src="{% static 'img/demo/4.jpg' %}" alt="">
        <h2>Changing Steering Wheel</h2>
        <p> We are the best in Armenia by  changing Steering wheels. We have a big experience of  Nissan, Mitsubishi.</p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> </p>
      </div>
      <div> <img src="{% static 'img/demo/5.jpg' %}" alt="">
        <h2>Supercar</h2>
        <p>Together we will make your car a monster</p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> </p>
      </div>
    </div>
    <!-- END tab panes -->
    <br clear="all">
    <!-- navigator -->
    <div id="prod_nav">
      <ul>
        <li><a href="#1"><img src="{% static 'img/demo/1.jpg' %}" width="160" alt=""><strong>Cars</strong> $ 5000-50,000</a></li>
        <li><a href="#2"><img src="{% static 'img/demo/2.jpg' %}" width="160" alt=""><strong>Car Details</strong> $ 2-2,000</a></li>
        <li><a href="#3"><img src="{% static 'img/demo/3.jpg' %}" width="160" alt=""><strong>Car Cleaning</strong> $ 100</a></li>
        <li><a href="#4"><img src="{% static 'img/demo/4.jpg' %}" width="160" alt=""><strong>Changing Steering Wheel</strong> $ 1,000-2,000</a></li>
        <li><a href="#5"><img src="{% static 'img/demo/5.jpg' %}" width="160" alt=""><strong>Tuning</strong> $ 1,000-9,000</a></li>
      </ul>
    </div>
    <!-- END navigator -->
  </div>
  <!-- END prod wrapper -->
  <div style="clear:both"></div>
  <div class="one-third">
    <h2>Business Solutions</h2>
    <p>We are leading company in Armenia.</p>
    <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Find out more</a></p>
  </div>
  <div class="one-third">
    <h2>Become a Partner</h2>
    <p>Send your offer via email and we shall contact you.</p>
    <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Contact Us Today</a></p>
  </div>
  <div class="one-third last">
    <h2>Latest News</h2>
    <p>New products in our site.</p>
    <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Read Article</a></p>
  </div>
  <div style="clear:both"></div>
  <div class="box_highlight" style="margin-top:40px">
    <h2 style="text-align:center">We are happy that you are with us!</h2>
  </div>

  <div style="clear:both; height: 40px"></div>
</div>
{% endblock %}
<!-- END container -->
<div id="footer">
  <!-- First Column -->

  <!-- Second Column -->
  <div class="one-fourth">
    <h3>Terms</h3>
    <ul class="footer_links">
      <li><a href="#">Location Armenia jrvej some/address.</a></li>
      <li><a href="#">telephone +37499583030.</a></li>
      <li><a href="#">viber +37499853030.</a></li>
      <li><a href="#">whatsapp +37499853030.</a></li>
    </ul>
  </div>
  <!-- Third Column -->
  <div class="one-fourth">
    <h3>Information</h3>
    Location Armenia jrvej some/address.<br>
    telephone +37499583030.<br>
    viber +37499853030.<br>
    whatsab 099853030.


  <!-- Fourth Column -->
  <div class="one-fourth last">
    <h3>YUARTMOTORS</h3>

  <div style="clear:both"></div>
</div>
<!-- END footer -->
</body>
</html>