#header {
    height: 50px;
    background: #0F5C2C;
    color: #fff;
}

#branding h1 {
    color: #fff
}

a:link,
a:visited {
    color: #063418;
}

div.breadcrumbs {
    background: #1DC45E;
    color: #0F5C2C;
}

div.breadcrumbs a {
    color: #333;
}

.module h2, .module caption, .inline-ground h2 {
    background: #1DC45E;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #1DC45E;
    color: #fff
}

input[type=submit].default, .submit-row input.default {
    background: #036F2D;
}

.selector-chosen h2 {
    background:  #036F2D;
}

